---
apiVersion: v1
kind: Namespace
metadata:
  name: external-dns
---
apiVersion: v1
kind: Secret
metadata:
  name: powerdns-secrets
  namespace: external-dns
type: Opaque
data:
  PDNS_APIKEY: {{ randomkey1 }}
  PDNSADMIN_SECRET: {{ randomkey2 }}
  MYSQL_PASS: {{ randomkey3 }}
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: powerdns
  namespace: external-dns
spec:
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: powerdns
    spec:
      containers:
      - name: powerdns
        image: pschiffe/pdns-mysql:alpine
        lifecycle:
          postStart:
            exec:
              command: ["/bin/sh", "-c", "sleep 20 ; pdnsutil create-zone {{ domain }}"]
        env:
        - name: PDNS_api_key
          valueFrom:
            secretKeyRef:
              name: powerdns-secrets
              key: PDNS_APIKEY
        - name: PDNS_master
          value: "yes"
        - name: PDNS_api
          value: "yes"
        - name: PDNS_webserver
          value: "yes"
        - name: PDNS_webserver_address
          value: "0.0.0.0"
        - name: PDNS_webserver_allow_from
          value: "0.0.0.0/0"
        - name: PDNS_webserver_password
          valueFrom:
            secretKeyRef:
              name: powerdns-secrets
              key: PDNS_APIKEY
        - name: PDNS_version_string
          value: "anonymous"
        - name: PDNS_default_ttl
          value: "1500"
        - name: PDNS_soa_minimum_ttl
          value: "1200"
        - name: PDNS_default_soa_name
          value: "ns1.{{ domain }}"
        - name: PDNS_default_soa_mail
          value: "hostmaster.{{ domain }}"
        - name: MYSQL_ENV_MYSQL_HOST
          value: "127.0.0.1"
        - name: MYSQL_ENV_MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: powerdns-secrets
              key: MYSQL_PASS
        - name: MYSQL_ENV_MYSQL_DATABASE
          value: "powerdns"
        - name: MYSQL_ENV_MYSQL_USER
          value: "powerdns"
        - name: MYSQL_ENV_MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: powerdns-secrets
              key: MYSQL_PASS
        ports:
        - containerPort: 53
          name: dns
          protocol: UDP
        - containerPort: 8081
          name: powerdns-api
          protocol: TCP
      - name: powerdns-admin
        image: aescanero/powerdns-admin
        env:
        - name: PDNS_API_KEY
          valueFrom:
            secretKeyRef:
              name: powerdns-secrets
              key: PDNS_APIKEY
        - name: PDNSADMIN_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: powerdns-secrets
              key: PDNSADMIN_SECRET
        - name: PDNS_PROTO
          value: "http"
        - name: PDNS_HOST
          value: "127.0.0.1"
        - name: PDNS_PORT
          value: "8081"
        - name: PDNSADMIN_SQLA_DB_HOST
          value: "127.0.0.1"
        - name: PDNSADMIN_SQLA_DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: powerdns-secrets
              key: MYSQL_PASS
        - name: PDNSADMIN_SQLA_DB_NAME
          value: "powerdns"
        - name: PDNSADMIN_SQLA_DB_USER
          value: "powerdns"
        ports:
        - containerPort: 9191
          name: pdns-admin-http
          protocol: TCP
      - name: mysql
        image: yobasystems/alpine-mariadb
        env:
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: powerdns-secrets
              key: MYSQL_PASS
        - name: MYSQL_DATABASE
          value: "powerdns"
        - name: MYSQL_USER
          value: "powerdns"
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: powerdns-secrets
              key: MYSQL_PASS
{% if addons_item.storage is defined and addons_item.storage == 'nfs' %}
        volumeMounts:
        - name: data
          mountPath: /var/lib/mysql
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: pvc-external-dns-powerdns
{% endif %}
---
apiVersion: v1
kind: Service
metadata:
  name: published-dns
  namespace: external-dns
spec:
  ports:
  - name: dns
    port: 53
    protocol: UDP
    targetPort: dns
  selector:
    app: powerdns
  type: LoadBalancer
---
apiVersion: v1
kind: Service
metadata:
  name: powerdns-api
  namespace: external-dns
spec:
  ports:
  - name: powerdns-api
    port: 8081
    protocol: TCP
    targetPort: powerdns-api
  selector:
    app: powerdns
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: powerdns-admin
  namespace: external-dns
spec:
  ports:
  - name: pdns-admin-http
    port: 80
    protocol: TCP
    targetPort: pdns-admin-http
  selector:
    app: powerdns
  type: ClusterIP

