powerdns:
  domain: "{{ domain }}"
mariadb:
  persistence:
{% if storage is defined %}
    storageClass: "{{ storage }}"
{% else %}
    enabled: false
{% endif %}
powerdnsadmin:
  ingress:
    enabled: true
    class: "traefik"
    path: "/"
    hostname: "powerdns-admin"
